<article>
  <h6>{{user.username}}</h6>
  <p>{{post_text}}</p>
  <h6>{{vote_count}} {{format_plural "vote" vote_count}}  &centerdot;  {{comments.length}} {{format_plural "comment" comments.length}}  &centerdot;  Posted on {{format_date created_at}}  &centerdot;  <span><a href="/single-post/${id}">View Post</a></span></h6>
</article>